{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
     
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Your Suggestions</legend>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}

                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
        </form>
    </div>

<h3>Order Information</h3>  
<table border=5>  
    <thead>  
        <td>Name</td>  
        <td>Tool</td>  
        <td>Duration</td>  
    </thead>  
      
    {% for row in rows %}  
      
        <tr>  
            <td>{{row["username"]}}</td>  
            <td>{{row["tool"]}}</td>  
            <td>{{row["duration"]}}</td>  
             
        </tr>  
      
    {% endfor %}  
</table>  
<br><br>  
  
<a href="/">Go back to home page</a>  
  
{% endblock content %}